/*

Formulier
- Labels rechts uitgelijnd om deze dicht bij de invoervelden te zetten. Hierdoor hoeft de gebruiker niet steeds
  horizontaal te bewegen over de pagina en kan hij het formulier sneller invullen.
- Antwoordmogelijkheden onder elkaar in plaats van naast elkaar, daardoor wordt het formulier overzichtelijker.
- Achtergrondkleur achter de fieldsets om deze beter van elkaar te kunnen onderscheiden. Je ziet nu de tussenruimtes
  beter, omdat deze een andere kleur hebben.
- Legends dikgedrukt gemaakt, zodat deze beter opvallen.
- Als je op "Als stagebedrijf" klikt, krijg je de fieldset over stage te zien. Die over project wordt dan verborgen. Als
  je op "Voor een project" klikt, krijg je de fieldset over project te zien en de fieldset over stage wordt dan
  verborgen. Ze zijn in eerste instantie beide zichtbaar, omdat ze dan wel zichtbaar zijn, ookal is de JavaScript niet
  geladen.

Header
- Volgorde van de onderdelen in de header veranderd met flexbox - order.
- Profielpagina rechtsbovenin, dat zijn mensen gewend.
- Logo bovenaan met daaronder informatie over de pagina.
- CMD logo weg bij klein scherm, content is belangrijker dan het logo. Een titel is voldoende.
- Op groot scherm navigatie naast elkaar - Breed zodat het snel en gemakkelijk vindbaar is. Achtergrondkleur om de links,
  zodat je snel ziet dat het knoppen zijn.
- Kleine box-shadow achter de navigatie knoppen, om duidelijker aan te geven dat dit knoppen zijn.

Zoekfunctie
- Zoekfunctie rechtsbovenin, valt op, snel vindbaar.
- Zoekfunctie: placeholder weggehaald, de placeholder maakte het niet duidelijker hoe je kon zoeken. De gebruiker wil een
 zoekwoord proberen en niet eerst hoeven nadenken over of het wel of niet ingevoerd kan worden.

Picture element en video element
- Afbeeldingen veranderen bij een andere schermgrootte. Hierdoor worden kleine afbeeldingen naar een mobiel device
  gestuurd en grote afbeeldingen naar desktop computers.
- Video wordt groter naarmate het scherm groter wordt.

Leesbaarheid
- Op groot scherm twee kolommen naast elkaar, zodat de regellengte niet te groot wordt. Dit voor een goede leesbaarheid
  (goede leesbaarheid 20 - 40 em). Daarom is de minimale breedte 20 em (tekst past anders ook niet volledig op het kleine
  scherm).
- Bij Voorbeeld Projecten 3 kolommen, elke kolom voor 1 van de projecten.
- Standaard line-height groter gemaakt om de leesbaarheid te verbeteren.
- Padding om de tekst binnen de blokken en marges om de blokken, daardoor meer witruimte.
- Verschillende font-sizes gebruikt om hiërarchie aan te geven en belangrijke stukken tekst te benadrukken en meer op te
  laten vallen.
- Lichte achtergrondkleuren gebruikt (zwart op wit leest minder prettig, te veel contrast).

- Em's en procenten gebruikt om de gebruiker meer mogelijkheden te geven, pagina past zich aan aan de instellingen van de
  gebruiker en staat niet vast zoals bij pixels.
- Bij hover veranderen links van kleur om duidelijk te maken dat het klikbaar is.

*/

* {
    box-sizing: border-box;
}

body {
    font-family: verdana, calibri, sans-serif;
    line-height: 1.5em;
    min-width: 28em;
    display: flex;
    flex-wrap: wrap;
}

/* Header */
body > header {
    background-color: #fecb2f;
    padding: 2em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.to-profile {
    width: 100%;
    text-align: right;
    order: -2;
    margin: -1em;
}

img[src="cmd_logo.png"] {
    visibility: hidden;
    width: 30%;
    height: 30%;
    order: 1;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2em;
}

body > header > h1 {
    order: 2;
    text-align: center;
    width: 100%;
    margin: em;
}

body > header > p {
    order: 3;
    text-align: center;
    width: 100%;
}

header > nav {
    width: 100%;
    order: 4;
    margin-bottom: -1em;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    list-style: none;
}

header li {
    background-color: aliceblue;
    width: 100%;
    padding: 1em 3em 1em 3em;
     box-shadow: .1em .1em 0em 0em;
}

header li a {
    color: black;
}

header li a:hover {
    color: #fecb2f;
}

header li:hover {
    background-color: #dde7ef;
}

header > form {
    order: -1;
    width: 100%;
    text-align: right;
    margin-top: .5em;
    margin-bottom: -1em;
}

a {
    color: black;
    text-decoration: underline;
}

main a:hover {
    color: #fecb2f;
}

.related a:hover {
    color: #fecb2f;
}

aside a:hover {
    color: white;
}

aside + footer a:hover {
    color: white;
}

/* Main */
main {
    background-color: aliceblue;
    font-size: 1em;
    padding: 2.5em;
    width: 100%;
    float: left;
}

/* Gerelateerde artikelen */
.related {
    background-color: #dde7ef;
    font-size: 1em;
    padding: 2em;
    width: 100%;
    float: left;
    vertical-align: top;
    order: 2;
}

img {
    width: 100%;
}

aside {
    background-color: lightgray;
    font-size: .9em;
    float: left;
    width: 100%;
    padding: 2em;
    order: 1;
}

/* Footer */
div + footer {
    background-color: #fecb2f;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    clear: left;
    order: 4;
}

/* Div met picture en video element */
#fotovideo {
    order: 3;
    background-color: lightgray;
}

/* Formulier */
fieldset {
    background-color: #dde7ef;
    border-radius: 1em;
}

input[value="Aanmelden"]{
    width: 6em;
    font-size: 1em;
}

span {
    float: left;
    text-align: right;
    width: 8.5em;
    margin-right: 0.5em;
}

input[type="radio"] {
    float: left;
}

legend {
    margin: .5em;
    padding: .2em;
    font-weight: bold;
}

input[type="radio"] + span {
    text-align: left;
}

span + textarea {
    margin-left: 5em;
}

/* Media Queries */
@media screen and (min-width: 40em) {
    header li {
        width: 100%;
        text-align: center;
    }
    img[src="cmd_logo.png"] {
        visibility: visible;
    }
    main {
        width: 100%;
    }
    .related {
        width: 100%;
    }
    aside {
        width: 100%;
    }
    video {
        width: 40em;
    }
}

@media screen and (min-width: 70em) {
    header ul {
        display: inline-block;
    }
    header li {
        width: 100%;
        text-align: center;
        display: inline;
    }
    img[src="cmd_logo.png"] {
        visibility: visible;
    }
     img[src="cmd_logo.png"]:hover {
        transition: 1.5s 0s ease;
        transform: scale(1.5);
    }
    img[src="beroepen.jpg"]:hover {
        transition: 1.5s 1s ease;
        transform: scale(1.6);
        margin-left: 7em;
    }
    main {
        width: 75%;
    }
    .related {
        width: 100%;
        -webkit-columns: 3;
    }
    .related h2 {
        -webkit-column-span: all;
    }
    aside {
        width: 25%;
    }
    video {
        width: 75em;
    }
}

.verberg {
    display: none;
}

